{% from "govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}

{% set html %}
<p class="govuk-body">We'd like to use analytics cookies so we can understand how you use the service and make improvements.</p>
{% endset %}

<form action="submit-cookies" method="POST">
  <input type="hidden" name="crumb" value="{{crumb}}"/>

  {{ govukCookieBanner({
    ariaLabel: "Cookies on Check what SFI actions you can get paid to do on your land",
    messages: [ 
      {
        headingText: "Cookies on Check what SFI actions you can get paid to do on your land",
        html: html,
        actions: [
          {
            text: "Accept additional cookies",
            type: "submit",
            name: "cookies[additional]",
            value: "yes"
          },
          {
            text: "Reject additional cookies",
            type: "submit",
            name: "cookies[additional]",
            value: "no"
          }
        ]
      }
    ]
  }) }}
</form>