{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

<div>
  <p class="govuk-body">
    Find out what funding you can get from the Sustainable Farming Incentive (SFI) to help you manage your land more sustainably and improve food production.
  </p>

  <p class="govuk-body">You can:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      filter and print actions you may want to apply for
    </li>
    <li>
      hide actions that are not relevant to you 
    </li>
    <li>
      access guidance on how to apply for funding for each action
    </li>
  </ul>

  {% set eligibleText %}
  <span>This filtering tool does not confirm you're eligible to apply for SFI.  <a class="govuk-link" target="_blank" href="https://www.gov.uk/guidance/what-to-do-before-you-apply-for-an-sfi-agreement">Read the SFI guidance to check if you're eligible and how you can apply.</a>
  </span>
  {% endset %}

  {{ govukInsetText({
    html: eligibleText
  }) }}

  <p class="govuk-body">
    The summaries of each SFI action in this filtering tool are not part of the terms and conditions for any SFI agreement you enter into with Defra or the Rural Payments Agency (RPA). The summaries are not the actions that clause 1.5 of the SFI agreement terms and conditions refers to.
  </p>

  <p class="govuk-body">
    Each of the following SFI action summaries signpost you to the steps you must follow for each action.
  </p>
</div>