<div id="super-search-menu" class="gem-c-layout-super-navigation-header__navigation-dropdown-menu" hidden="hidden">
    <div class="govuk-width-container gem-c-layout-super-navigation-header__search-container gem-c-layout-super-navigation-header__search-items">
        <h3 class="govuk-visually-hidden">
            Search
          </h3>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <form class="gem-c-layout-super-navigation-header__search-form" id="search" data-module="ga4-form-tracker" data-ga4-form="{ &quot;event_name&quot;: &quot;search&quot;, &quot;type&quot;: &quot;header menu bar&quot;, &quot;section&quot;: &quot;Search GOV.UK&quot;, &quot;action&quot;: &quot;search&quot;, &quot;url&quot;: &quot;/search/all&quot; }" data-ga4-form-include-text="" data-ga4-form-no-answer-undefined="" action="https://www.gov.uk/search" method="get" role="search" aria-label="Site-wide" data-ga4-form-tracker-module-started="true">

                    <div class="gem-c-search govuk-!-display-none-print  govuk-!-margin-bottom-0 gem-c-search--large gem-c-search--on-white gem-c-search--separate-label" data-module="gem-toggle-input-class-on-focus" data-gem-toggle-input-class-on-focus-module-started="true">
                        <label for="search-submit" class="govuk-label govuk-label--m gem-c-layout-super-navigation-header__search-label--large-navbar">Search GOV.UK</label>
                        <div class="gem-c-search__item-wrapper">
                            <input enterkeyhint="search" class="gem-c-search__item gem-c-search__input js-class-toggle" id="search-input" name="q" title="Search" type="search" value="">
                            <div class="gem-c-search__item gem-c-search__submit-wrapper">
                                <button class="gem-c-search__submit" type="submit" id="search-submit" data-track-category="headerClicked" data-track-action="searchSubmitted" data-track-label="/search/all" data-track-dimension="Search on GOV.UK" data-track-dimension-index="29" data-module="gem-track-click" enterkeyhint="search" data-gem-track-click-module-started="true">
                                    <span class="govuk-visually-hidden">Search</span>

                                    <svg class="gem-c-search__icon" width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
                                        <circle cx="12.0161" cy="11.0161" r="8.51613" stroke="currentColor" stroke-width="3"></circle>
                                        <line x1="17.8668" y1="17.3587" x2="26.4475" y2="25.9393" stroke="currentColor" stroke-width="3"></line>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h3 class="govuk-heading-m">
                    Popular on GOV.UK
                </h3>
                <ul class="govuk-list">
                    <li class="gem-c-layout-super-navigation-header__popular-item">
                        <a class="govuk-link gem-c-layout-super-navigation-header__popular-link" data-track-action="popularLink" data-track-category="headerClicked" data-track-label="/cost-of-living" data-track-dimension="Get support with the cost of living" data-track-dimension-index="29" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;header menu bar&quot;,&quot;index_section&quot;:4,&quot;index_link&quot;:1,&quot;index_section_count&quot;:4,&quot;index_total&quot;:6,&quot;section&quot;:&quot;Popular on GOV.UK&quot;}" href="https://www.gov.uk/cost-of-living">Get support with the cost of living</a>
                    </li>
                    <li class="gem-c-layout-super-navigation-header__popular-item">
                        <a class="govuk-link gem-c-layout-super-navigation-header__popular-link" data-track-action="popularLink" data-track-category="headerClicked" data-track-label="/guidance/getting-the-energy-bills-support-scheme-discount" data-track-dimension="Find out about the Energy Bills Support Scheme" data-track-dimension-index="29" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;header menu bar&quot;,&quot;index_section&quot;:4,&quot;index_link&quot;:2,&quot;index_section_count&quot;:4,&quot;index_total&quot;:6,&quot;section&quot;:&quot;Popular on GOV.UK&quot;}" href="https://www.gov.uk/guidance/getting-the-energy-bills-support-scheme-discount">Find out about the Energy Bills Support Scheme</a>
                    </li>
                    <li class="gem-c-layout-super-navigation-header__popular-item">
                        <a class="govuk-link gem-c-layout-super-navigation-header__popular-link" data-track-action="popularLink" data-track-category="headerClicked" data-track-label="/find-a-job" data-track-dimension="Find a job" data-track-dimension-index="29" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;header menu bar&quot;,&quot;index_section&quot;:4,&quot;index_link&quot;:3,&quot;index_section_count&quot;:4,&quot;index_total&quot;:6,&quot;section&quot;:&quot;Popular on GOV.UK&quot;}" href="https://www.gov.uk/find-a-job">Find a job</a>
                    </li>
                    <li class="gem-c-layout-super-navigation-header__popular-item">
                        <a class="govuk-link gem-c-layout-super-navigation-header__popular-link" data-track-action="popularLink" data-track-category="headerClicked" data-track-label="/sign-in-universal-credit" data-track-dimension="Universal Credit account: sign in" data-track-dimension-index="29" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;header menu bar&quot;,&quot;index_section&quot;:4,&quot;index_link&quot;:4,&quot;index_section_count&quot;:4,&quot;index_total&quot;:6,&quot;section&quot;:&quot;Popular on GOV.UK&quot;}" href="https://www.gov.uk/sign-in-universal-credit">Universal Credit account: sign in</a>
                    </li>
                    <li class="gem-c-layout-super-navigation-header__popular-item">
                        <a class="govuk-link gem-c-layout-super-navigation-header__popular-link" data-track-action="popularLink" data-track-category="headerClicked" data-track-label="/check-national-insurance-record" data-track-dimension="Check your National Insurance record" data-track-dimension-index="29" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;header menu bar&quot;,&quot;index_section&quot;:4,&quot;index_link&quot;:5,&quot;index_section_count&quot;:4,&quot;index_total&quot;:6,&quot;section&quot;:&quot;Popular on GOV.UK&quot;}" href="https://www.gov.uk/check-national-insurance-record">Check your National Insurance record</a>
                    </li>
                    <li class="gem-c-layout-super-navigation-header__popular-item">
                        <a class="govuk-link gem-c-layout-super-navigation-header__popular-link" data-track-action="popularLink" data-track-category="headerClicked" data-track-label="/check-mot-history" data-track-dimension="Check MOT history of a vehicle" data-track-dimension-index="29" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;header menu bar&quot;,&quot;index_section&quot;:4,&quot;index_link&quot;:6,&quot;index_section_count&quot;:4,&quot;index_total&quot;:6,&quot;section&quot;:&quot;Popular on GOV.UK&quot;}" href="https://www.gov.uk/check-mot-history">Check MOT history of a vehicle</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>