<div id="super-navigation-menu" class="gem-c-layout-super-navigation-header__navigation-dropdown-menu" hidden="hidden">
    <div class="govuk-width-container">
        <div class="govuk-grid-row gem-c-layout-super-navigation-header__navigation-items">

            <div class="govuk-grid-column-two-thirds-from-desktop gem-c-layout-super-navigation-header__column--services-and-information">
                <h3 class="govuk-heading-m gem-c-layout-super-navigation-header__column-header">
                  Services and information
                </h3>
                <ul class="gem-c-layout-super-navigation-header__navigation-second-items gem-c-layout-super-navigation-header__navigation-second-items--services-and-information">
                    <li class="gem-c-layout-super-navigation-header__dropdown-list-item">
                        <a class="govuk-link gem-c-layout-super-navigation-header__navigation-second-item-link" data-track-action="servicesandinformationLink" data-track-category="headerClicked" data-track-label="/browse/benefits" data-track-dimension="Benefits" data-track-dimension-index="29" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;header menu bar&quot;,&quot;index_section&quot;:1,&quot;index_link&quot;:1,&quot;index_section_count&quot;:4,&quot;index_total&quot;:16,&quot;section&quot;:&quot;Services and information&quot;}" href="https://www.gov.uk/browse/benefits">Benefits</a>

                    </li>
                    <li class="gem-c-layout-super-navigation-header__dropdown-list-item">
                        <a class="govuk-link gem-c-layout-super-navigation-header__navigation-second-item-link" data-track-action="servicesandinformationLink" data-track-category="headerClicked" data-track-label="/browse/births-deaths-marriages" data-track-dimension="Births, death, marriages and care" data-track-dimension-index="29" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;header menu bar&quot;,&quot;index_section&quot;:1,&quot;index_link&quot;:2,&quot;index_section_count&quot;:4,&quot;index_total&quot;:16,&quot;section&quot;:&quot;Services and information&quot;}" href="https://www.gov.uk/browse/births-deaths-marriages">Births, death, marriages and care</a>

                    </li>
                    <li class="gem-c-layout-super-navigation-header__dropdown-list-item">
                        <a class="govuk-link gem-c-layout-super-navigation-header__navigation-second-item-link" data-track-action="servicesandinformationLink" data-track-category="headerClicked" data-track-label="/browse/business" data-track-dimension="Business and self-employed" data-track-dimension-index="29" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;header menu bar&quot;,&quot;index_section&quot;:1,&quot;index_link&quot;:3,&quot;index_section_count&quot;:4,&quot;index_total&quot;:16,&quot;section&quot;:&quot;Services and information&quot;}" href="https://www.gov.uk/browse/business">Business and self-employed</a>

                    </li>
                    <li class="gem-c-layout-super-navigation-header__dropdown-list-item">
                        <a class="govuk-link gem-c-layout-super-navigation-header__navigation-second-item-link" data-track-action="servicesandinformationLink" data-track-category="headerClicked" data-track-label="/browse/childcare-parenting" data-track-dimension="Childcare and parenting" data-track-dimension-index="29" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;header menu bar&quot;,&quot;index_section&quot;:1,&quot;index_link&quot;:4,&quot;index_section_count&quot;:4,&quot;index_total&quot;:16,&quot;section&quot;:&quot;Services and information&quot;}" href="https://www.gov.uk/browse/childcare-parenting">Childcare and parenting</a>

                    </li>
                    <li class="gem-c-layout-super-navigation-header__dropdown-list-item">
                        <a class="govuk-link gem-c-layout-super-navigation-header__navigation-second-item-link" data-track-action="servicesandinformationLink" data-track-category="headerClicked" data-track-label="/browse/citizenship" data-track-dimension="Citizenship and living in the UK" data-track-dimension-index="29" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;header menu bar&quot;,&quot;index_section&quot;:1,&quot;index_link&quot;:5,&quot;index_section_count&quot;:4,&quot;index_total&quot;:16,&quot;section&quot;:&quot;Services and information&quot;}" href="https://www.gov.uk/browse/citizenship">Citizenship and living in the UK</a>

                    </li>
                    <li class="gem-c-layout-super-navigation-header__dropdown-list-item">
                        <a class="govuk-link gem-c-layout-super-navigation-header__navigation-second-item-link" data-track-action="servicesandinformationLink" data-track-category="headerClicked" data-track-label="/browse/justice" data-track-dimension="Crime, justice and the law" data-track-dimension-index="29" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;header menu bar&quot;,&quot;index_section&quot;:1,&quot;index_link&quot;:6,&quot;index_section_count&quot;:4,&quot;index_total&quot;:16,&quot;section&quot;:&quot;Services and information&quot;}" href="https://www.gov.uk/browse/justice">Crime, justice and the law</a>

                    </li>
                    <li class="gem-c-layout-super-navigation-header__dropdown-list-item">
                        <a class="govuk-link gem-c-layout-super-navigation-header__navigation-second-item-link" data-track-action="servicesandinformationLink" data-track-category="headerClicked" data-track-label="/browse/disabilities" data-track-dimension="Disabled people" data-track-dimension-index="29" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;header menu bar&quot;,&quot;index_section&quot;:1,&quot;index_link&quot;:7,&quot;index_section_count&quot;:4,&quot;index_total&quot;:16,&quot;section&quot;:&quot;Services and information&quot;}" href="https://www.gov.uk/browse/disabilities">Disabled people</a>

                    </li>
                    <li class="gem-c-layout-super-navigation-header__dropdown-list-item">
                        <a class="govuk-link gem-c-layout-super-navigation-header__navigation-second-item-link" data-track-action="servicesandinformationLink" data-track-category="headerClicked" data-track-label="/browse/driving" data-track-dimension="Driving and transport" data-track-dimension-index="29" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;header menu bar&quot;,&quot;index_section&quot;:1,&quot;index_link&quot;:8,&quot;index_section_count&quot;:4,&quot;index_total&quot;:16,&quot;section&quot;:&quot;Services and information&quot;}" href="https://www.gov.uk/browse/driving">Driving and transport</a>

                    </li>
                    <li class="gem-c-layout-super-navigation-header__dropdown-list-item">
                        <a class="govuk-link gem-c-layout-super-navigation-header__navigation-second-item-link" data-track-action="servicesandinformationLink" data-track-category="headerClicked" data-track-label="/browse/education" data-track-dimension="Education and learning" data-track-dimension-index="29" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;header menu bar&quot;,&quot;index_section&quot;:1,&quot;index_link&quot;:9,&quot;index_section_count&quot;:4,&quot;index_total&quot;:16,&quot;section&quot;:&quot;Services and information&quot;}" href="https://www.gov.uk/browse/education">Education and learning</a>

                    </li>
                    <li class="gem-c-layout-super-navigation-header__dropdown-list-item">
                        <a class="govuk-link gem-c-layout-super-navigation-header__navigation-second-item-link" data-track-action="servicesandinformationLink" data-track-category="headerClicked" data-track-label="/browse/employing-people" data-track-dimension="Employing people" data-track-dimension-index="29" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;header menu bar&quot;,&quot;index_section&quot;:1,&quot;index_link&quot;:10,&quot;index_section_count&quot;:4,&quot;index_total&quot;:16,&quot;section&quot;:&quot;Services and information&quot;}" href="https://www.gov.uk/browse/employing-people">Employing people</a>

                    </li>
                    <li class="gem-c-layout-super-navigation-header__dropdown-list-item">
                        <a class="govuk-link gem-c-layout-super-navigation-header__navigation-second-item-link" data-track-action="servicesandinformationLink" data-track-category="headerClicked" data-track-label="/browse/environment-countryside" data-track-dimension="Environment and countryside" data-track-dimension-index="29" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;header menu bar&quot;,&quot;index_section&quot;:1,&quot;index_link&quot;:11,&quot;index_section_count&quot;:4,&quot;index_total&quot;:16,&quot;section&quot;:&quot;Services and information&quot;}" href="https://www.gov.uk/browse/environment-countryside">Environment and countryside</a>

                    </li>
                    <li class="gem-c-layout-super-navigation-header__dropdown-list-item">
                        <a class="govuk-link gem-c-layout-super-navigation-header__navigation-second-item-link" data-track-action="servicesandinformationLink" data-track-category="headerClicked" data-track-label="/browse/housing-local-services" data-track-dimension="Housing and local services" data-track-dimension-index="29" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;header menu bar&quot;,&quot;index_section&quot;:1,&quot;index_link&quot;:12,&quot;index_section_count&quot;:4,&quot;index_total&quot;:16,&quot;section&quot;:&quot;Services and information&quot;}" href="https://www.gov.uk/browse/housing-local-services">Housing and local services</a>

                    </li>
                    <li class="gem-c-layout-super-navigation-header__dropdown-list-item">
                        <a class="govuk-link gem-c-layout-super-navigation-header__navigation-second-item-link" data-track-action="servicesandinformationLink" data-track-category="headerClicked" data-track-label="/browse/tax" data-track-dimension="Money and tax" data-track-dimension-index="29" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;header menu bar&quot;,&quot;index_section&quot;:1,&quot;index_link&quot;:13,&quot;index_section_count&quot;:4,&quot;index_total&quot;:16,&quot;section&quot;:&quot;Services and information&quot;}" href="https://www.gov.uk/browse/tax">Money and tax</a>

                    </li>
                    <li class="gem-c-layout-super-navigation-header__dropdown-list-item">
                        <a class="govuk-link gem-c-layout-super-navigation-header__navigation-second-item-link" data-track-action="servicesandinformationLink" data-track-category="headerClicked" data-track-label="/browse/abroad" data-track-dimension="Passports, travel and living abroad" data-track-dimension-index="29" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;header menu bar&quot;,&quot;index_section&quot;:1,&quot;index_link&quot;:14,&quot;index_section_count&quot;:4,&quot;index_total&quot;:16,&quot;section&quot;:&quot;Services and information&quot;}" href="https://www.gov.uk/browse/abroad">Passports, travel and living abroad</a>

                    </li>
                    <li class="gem-c-layout-super-navigation-header__dropdown-list-item">
                        <a class="govuk-link gem-c-layout-super-navigation-header__navigation-second-item-link" data-track-action="servicesandinformationLink" data-track-category="headerClicked" data-track-label="/browse/visas-immigration" data-track-dimension="Visas and immigration" data-track-dimension-index="29" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;header menu bar&quot;,&quot;index_section&quot;:1,&quot;index_link&quot;:15,&quot;index_section_count&quot;:4,&quot;index_total&quot;:16,&quot;section&quot;:&quot;Services and information&quot;}" href="https://www.gov.uk/browse/visas-immigration">Visas and immigration</a>

                    </li>
                    <li class="gem-c-layout-super-navigation-header__dropdown-list-item">
                        <a class="govuk-link gem-c-layout-super-navigation-header__navigation-second-item-link" data-track-action="servicesandinformationLink" data-track-category="headerClicked" data-track-label="/browse/working" data-track-dimension="Working, jobs and pensions" data-track-dimension-index="29" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;header menu bar&quot;,&quot;index_section&quot;:1,&quot;index_link&quot;:16,&quot;index_section_count&quot;:4,&quot;index_total&quot;:16,&quot;section&quot;:&quot;Services and information&quot;}" href="https://www.gov.uk/browse/working">Working, jobs and pensions</a>

                    </li>
                </ul>
            </div>

            <div class="govuk-grid-column-one-third-from-desktop gem-c-layout-super-navigation-header__column--government-activity">
                <h3 class="govuk-heading-m gem-c-layout-super-navigation-header__column-header">
                  Government activity
                </h3>
                <ul class="gem-c-layout-super-navigation-header__navigation-second-items gem-c-layout-super-navigation-header__navigation-second-items--government-activity">
                    <li class="gem-c-layout-super-navigation-header__dropdown-list-item">
                        <a class="govuk-link gem-c-layout-super-navigation-header__navigation-second-item-link gem-c-layout-super-navigation-header__navigation-second-item-link--with-description" data-track-action="governmentactivityLink" data-track-category="headerClicked" data-track-label="/government/organisations" data-track-dimension="Departments" data-track-dimension-index="29" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;header menu bar&quot;,&quot;index_section&quot;:2,&quot;index_link&quot;:1,&quot;index_section_count&quot;:4,&quot;index_total&quot;:6,&quot;section&quot;:&quot;Government activity&quot;}" href="https://www.gov.uk/government/organisations">Departments</a>
                        <p class="gem-c-layout-super-navigation-header__navigation-second-item-description">Departments, agencies and public bodies</p>
                    </li>
                    <li class="gem-c-layout-super-navigation-header__dropdown-list-item">
                        <a class="govuk-link gem-c-layout-super-navigation-header__navigation-second-item-link gem-c-layout-super-navigation-header__navigation-second-item-link--with-description" data-track-action="governmentactivityLink" data-track-category="headerClicked" data-track-label="/search/news-and-communications" data-track-dimension="News" data-track-dimension-index="29" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;header menu bar&quot;,&quot;index_section&quot;:2,&quot;index_link&quot;:2,&quot;index_section_count&quot;:4,&quot;index_total&quot;:6,&quot;section&quot;:&quot;Government activity&quot;}" href="https://www.gov.uk/search/news-and-communications">News</a>
                        <p class="gem-c-layout-super-navigation-header__navigation-second-item-description">News stories, speeches, letters and notices</p>
                    </li>
                    <li class="gem-c-layout-super-navigation-header__dropdown-list-item">
                        <a class="govuk-link gem-c-layout-super-navigation-header__navigation-second-item-link gem-c-layout-super-navigation-header__navigation-second-item-link--with-description" data-track-action="governmentactivityLink" data-track-category="headerClicked" data-track-label="/search/guidance-and-regulation" data-track-dimension="Guidance and regulation" data-track-dimension-index="29" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;header menu bar&quot;,&quot;index_section&quot;:2,&quot;index_link&quot;:3,&quot;index_section_count&quot;:4,&quot;index_total&quot;:6,&quot;section&quot;:&quot;Government activity&quot;}" href="https://www.gov.uk/search/guidance-and-regulation">Guidance and regulation</a>
                        <p class="gem-c-layout-super-navigation-header__navigation-second-item-description">Detailed guidance, regulations and rules</p>
                    </li>
                    <li class="gem-c-layout-super-navigation-header__dropdown-list-item">
                        <a class="govuk-link gem-c-layout-super-navigation-header__navigation-second-item-link gem-c-layout-super-navigation-header__navigation-second-item-link--with-description" data-track-action="governmentactivityLink" data-track-category="headerClicked" data-track-label="/search/research-and-statistics" data-track-dimension="Research and statistics" data-track-dimension-index="29" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;header menu bar&quot;,&quot;index_section&quot;:2,&quot;index_link&quot;:4,&quot;index_section_count&quot;:4,&quot;index_total&quot;:6,&quot;section&quot;:&quot;Government activity&quot;}" href="https://www.gov.uk/search/research-and-statistics">Research and statistics</a>
                        <p class="gem-c-layout-super-navigation-header__navigation-second-item-description">Reports, analysis and official statistics</p>
                    </li>
                    <li class="gem-c-layout-super-navigation-header__dropdown-list-item">
                        <a class="govuk-link gem-c-layout-super-navigation-header__navigation-second-item-link gem-c-layout-super-navigation-header__navigation-second-item-link--with-description" data-track-action="governmentactivityLink" data-track-category="headerClicked" data-track-label="/search/policy-papers-and-consultations" data-track-dimension="Policy papers and consultations" data-track-dimension-index="29" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;header menu bar&quot;,&quot;index_section&quot;:2,&quot;index_link&quot;:5,&quot;index_section_count&quot;:4,&quot;index_total&quot;:6,&quot;section&quot;:&quot;Government activity&quot;}" href="https://www.gov.uk/search/policy-papers-and-consultations">Policy papers and consultations</a>
                        <p class="gem-c-layout-super-navigation-header__navigation-second-item-description">Consultations and strategy</p>
                    </li>
                    <li class="gem-c-layout-super-navigation-header__dropdown-list-item">
                        <a class="govuk-link gem-c-layout-super-navigation-header__navigation-second-item-link gem-c-layout-super-navigation-header__navigation-second-item-link--with-description" data-track-action="governmentactivityLink" data-track-category="headerClicked" data-track-label="/search/transparency-and-freedom-of-information-releases" data-track-dimension="Transparency" data-track-dimension-index="29" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;header menu bar&quot;,&quot;index_section&quot;:2,&quot;index_link&quot;:6,&quot;index_section_count&quot;:4,&quot;index_total&quot;:6,&quot;section&quot;:&quot;Government activity&quot;}" href="https://www.gov.uk/search/transparency-and-freedom-of-information-releases">Transparency</a>
                        <p class="gem-c-layout-super-navigation-header__navigation-second-item-description">Data, Freedom of Information releases and corporate reports</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>