{% from "components/super-header-macro.njk" import superHeader %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% extends "govuk/template.njk" %}

{% block head %}
  <link href="static/css/app.css" rel="stylesheet">
{% endblock %}

{% block pageTitle %}Check what SFI actions you can get paid to do on your land{% endblock %}

{% block bodyStart %}
  {% if not cookiesPolicy.confirmed %}
    {% include 'components/cookie-banner.njk' %}
  {% endif %}
{% endblock %}

{% block beforeContent %}
  {% include 'components/breadcrumbs.njk' %}
{% endblock %}

{% block header %}
  {{ superHeader({
        homepageUrl: "/",
        navigation: [
            {
                "text": "enabled"
            }
        ]
    }) }}
  <div class="gem-c-layout-for-public__blue-bar govuk-width-container"></div>
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script src="static/js/entry.js"></script>
  {# {% if cookiesPolicy.analytics %}
    {% include 'components/tag-manager.njk' %}
  {% endif %} #}
{% endblock %}

{% block footer %}
  {% include 'components/footer.njk' %}
{% endblock %}