{% from "components/macro-defra-header.njk" import defraHeader %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% extends "govuk/template.njk" %}

{% block head %}
  <link href="static/css/app.css" rel="stylesheet">
{% endblock %}

{% block pageTitle %}{{ serviceTitle }}
{% endblock %}

{% block bodyStart %}
  {% if not cookiesPolicy.confirmed %}
    {% include 'components/cookie-banner.njk' %}
  {% endif %}
{% endblock %}

{% block beforeContent %}
  {% include 'components/breadcrumbs.njk' %}
{% endblock %}

{% block header %}
  {{ defraHeader({
    homepageUrl: "https://www.gov.uk/government/organisations/department-for-environment-food-rural-affairs",
    serviceName: serviceName
  }) }}
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script src="static/js/entry.js"></script>
  {% if cookiesPolicy.analytics %}
    {% include 'components/tag-manager.njk' %}
  {% endif %}
{% endblock %}

{% block footer %}
  {% include 'components/footer.njk' %}
{% endblock %}