{% extends "_layout.njk" %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}Cookies - {{ serviceTitle }}
{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-xl">Cookie settings</h1>

        <div class="govuk-body">We use Google Analytics cookies to measure how you use "{{ serviceName }}".</div>

        <div class="govuk-body">These cookies collect information about:</div>

        <ul class="govuk-list govuk-list--bullet">
          <li>how you got to these sites</li>
          <li>the pages you visit and how long you spend on each page</li>
          <li>what you click on while you're visiting these sites</li>
        </ul>

        <div class="govuk-body govuk-!-margin-top-9">
          <h2 class="govuk-heading-l">Change your cookie settings</h2>
          <form action="submit-cookies" method="POST">
            <input type="hidden" name="crumb" value="{{crumb}}"/>
            <input type="hidden" name="referrer" value="{{currentPage}}"/>
            
            {{ govukRadios({
              name: "cookies[additional]",
              idPrefix: "cookies-analytics",
              fieldset: {
                legend: {
                  text: "Do you want to accept analytics cookies?",
                  classes: "govuk-fieldset__legend--s"
                }
              },
              items: [
                {
                  value: "yes",
                  text: "Yes",
                  checked: true if cookiesPolicy.confirmed and cookiesPolicy.analytics
                },
                {
                  value: "no",
                  text: "No",
                  checked: true if cookiesPolicy.confirmed and not cookiesPolicy.analytics
                }
              ]
            }) }}

            {{ govukButton({
              text: "Save cookie settings"
            }) }}
          </form>
        </div>
      </div>
      <div class="govuk-grid-column-one-quarter govuk-!-text-align-right"></div>
    </div>
  </div>
{% endblock %}