{% extends "_layout.njk" %}

{% from "components/list.njk" import filterList %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row govuk-!-margin-bottom-4">
      <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-xl">Check what SFI actions you can get paid to do on your land</h1>

        {% include 'components/sfi-information.njk' %}
      </div>
      <div class="govuk-grid-column-one-quarter"></div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <form method="GET" action="#list">
          {% for hiddenSfi in hiddenSfis %}
            <input type="hidden" name="hiddenSfis" value="{{hiddenSfi}}"/>
          {% endfor %}
          <div class="govuk-body">
            <details class="expandable" open>
              <summary class="govuk-body landTypeFilter">
                <b class="title">Land types</b>
              </summary>
              <div>
                {{ govukCheckboxes({
                  name: "landTypes",
                  classes: "govuk-checkboxes--small",
                  items: landTypeItems
                }) }}

                {{ govukButton({
                  text: 'Apply filters',
                  type: 'submit',
                  classes: "govuk-!-margin-bottom-2"
                }) }}
              </form>
              <form action="/clear" method="POST">
                <input type="hidden" name="crumb" value="{{crumb}}"/>

                {% for hiddenSfi in hiddenSfis %}
                  <input type="hidden" name="hiddenSfis" value="{{hiddenSfi}}"/>
                {% endfor %}

                {% for landType in selectedLandTypes %}
                  <input type="hidden" name="landTypes" value="{{landType}}"/>
                {% endfor %}

                {{ govukButton({
                  text: "Clear filters",
                  classes: "govuk-button--secondary"
                }) }}
              </form>
            </div>
          </details>
        </div>

      </div>

      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-body" id="list" x-data="{ landTypes: [] }">
          <div class="govuk-grid-row">
            <div class="aside-container">
              <div class="left">
                <div class="govuk-!-padding-left-0 govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold">
                  {{ sfiActions.length }}
                  {% if sfiActions.length > 1 %}
                    <span>actions</span>
                  {% else %}
                    <span>action</span>
                  {% endif %}
                </div>
              </div>
              <div class="right govuk-body">
                <form method="POST" action="/show/all" class="govuk-!-display-inline-block govuk-!-margin-right-5">
                  <input type="hidden" name="crumb" value="{{crumb}}"/>
                  <input type="hidden" name="action" value="showAll"/>

                  {% for landType in selectedLandTypes %}
                    <input type="hidden" name="landTypes" value="{{landType}}"/>
                  {% endfor %}

                  {{ govukButton({
                    text: "Show all actions",
                    classes: "govuk-button--secondary link-button"
                  }) }}
                </form>
                <form method="POST" action="{{ printLink }}" class="govuk-!-display-inline-block">
                  <input type="hidden" name="crumb" value="{{crumb}}"/>

                  {% for landType in selectedLandTypes %}
                    <input type="hidden" name="landTypes" value="{{landType}}"/>
                  {% endfor %}

                  {% for hiddenSfi in hiddenSfis %}
                    <input type="hidden" name="hiddenSfis" value="{{hiddenSfi}}"/>
                  {% endfor %}

                  <input type="hidden" name="action" value="print"/>

                  {{ govukButton({
                    text: "Print",
                    classes: "govuk-button--secondary link-button"
                  }) }}
                </form>
              </div>
            </div>

          </div>
          
          <div class="govuk-grid-row">
            <span class="govuk-visually-hidden">{{ serviceUri }}</span>
            <span class="govuk-visually-hidden">{{ version }}</span>
            {{ filterList(sfiActions, false, hiddenSfis, selectedLandTypes) }}
          </div>

          <div class="govuk-grid-row">
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            <form method="POST" action="/show/all" class="govuk-!-display-inline-block govuk-!-margin-right-5">
              <input type="hidden" name="crumb" value="{{crumb}}"/>
              <input type="hidden" name="action" value="showAll"/>

              {% for landType in selectedLandTypes %}
                <input type="hidden" name="landTypes" value="{{landType}}"/>
              {% endfor %}

              {{ govukButton({
                text: "Show all actions",
                classes: "govuk-button--secondary link-button"
              }) }}
            </form>
            <form method="POST" action="{{ printLink }}" class="govuk-!-display-inline-block">
              <input type="hidden" name="crumb" value="{{crumb}}"/>

              {% for landType in selectedLandTypes %}
                <input type="hidden" name="landTypes" value="{{landType}}"/>
              {% endfor %}

              {% for hiddenSfi in hiddenSfis %}
                <input type="hidden" name="hiddenSfis" value="{{hiddenSfi}}"/>
              {% endfor %}

              <input type="hidden" name="action" value="print"/>

              {{ govukButton({
                text: "Print",
                classes: "govuk-button--secondary link-button"
              }) }}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}