{% extends "_layout.njk" %}

{% from "components/list.njk" import filterList %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "https://www.gov.uk/"
      },
      {
        text: "Environment",
        href: "https://www.gov.uk/environment"
      },
         {
        text: "Food and farming",
        href: "https://www.gov.uk/environment/food-and-farming"
      },
      {
        text: "Farming and food grants and payments",
        href: "https://www.gov.uk/environment/farming-food-grants-payments"
      },
      {
        text: "Rural grants and payments",
        href: "https://www.gov.uk/environment/farming-food-grants-payments-rural-grants-payments"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-xl">Check what SFI actions you can get paid to do on your land</h1>

        {{ govukInsetText({
          text: "This service does not confirm you're eligible to apply for SFI."
        }) }}
      </div>
      <div class="govuk-grid-column-one-quarter govuk-!-text-align-right">
        <a class="govuk-!-display-none-print govuk-link govuk-!-display-none" href="javascript:window.print();" id="printButton">Print page</a>
      </div>
    </div>

    <div class="govuk-grid-row">
      {{ filterList(sfiActions, true) }}
    </div>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function (event) {
      var printButton = document.getElementById("printButton");
      printButton.classList.remove("govuk-!-display-none");
    });
  </script>
{% endblock %}