.super-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    border: none;

    .govuk-super-header__container {
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        width: 100%;

        .govuk-super-header-container {
            display: flex;
            flex-direction: column;
            max-width: 960px;
            margin-right: max(15px, calc(15px + env(safe-area-inset-right)));
            margin-left: max(15px, calc(15px + env(safe-area-inset-left)));

            @include breakpoint('mobile-s') {
                flex-direction: row;
            }

            @include breakpoint('laptop-s') {
                margin-left: auto;
                margin-right: auto;
            }
        }

        .govuk-header__logo {
            display: flex;
            width: 100%;
            padding: 0;
            margin: 0;
            align-items: center;
        }

        .govuk-super-header__content {
            .gem-c-layout-super-navigation-header__button-width-container {
                display: flex;

                .gem-c-layout-super-navigation-header__button-container {
                    display: flex;

                    .gem-c-layout-super-navigation-header__navigation-item-link {
                        font-family: "GDS Transport", arial, sans-serif;
                        font-size: 16px;
                        font-size: govuk-px-to-rem(16px);
                        font-weight: 700;
                        background: govuk-colour("black");
                        border: 0;
                        box-sizing: border-box;
                        color: govuk-colour("white");
                        cursor: pointer;
                        height: 50px;
                        padding: 0;
                        margin: 0;
                        vertical-align: top;
                        border-color: #7c8185;
                        display: inline-block;
                        margin: 0;
                        display: flex;
                        align-items: center;
                        padding: 0 15px;
                    }

                    .gem-c-layout-super-navigation-header__navigation-top-toggle-button {
                        font-family: "GDS Transport", arial, sans-serif;
                        font-size: 16px;
                        font-size: govuk-px-to-rem(16px);
                        font-weight: 700;
                        background: govuk-colour("black");
                        border: 0;
                        box-sizing: border-box;
                        color: govuk-colour("white");
                        cursor: pointer;
                        display: block;
                        position: relative;
                        width: 100px;
                        height: 50px;
                        padding: 0;
                        margin: 0;
                        vertical-align: top;
                        box-sizing: border-box;
                        border-color: #7c8185;
                        color: #fff;

                        &:focus-visible {
                            background: #fd0;
                            color: govuk-colour("black");
                            box-shadow: none;
                            border: none;
                            text-decoration: none;
                            outline: none;

                            &.active {
                                background: #fd0;
                                color: govuk-colour("black");

                                &::after {
                                    background: govuk-colour("black");
                                }

                                .gem-c-layout-super-navigation-header__navigation-top-toggle-button-inner {
                                    &::before {
                                        border-bottom: 2px solid black;
                                        border-right: 2px solid black;
                                    }
                                }
                            }

                            .gem-c-layout-super-navigation-header__navigation-top-toggle-button-inner {
                                border-color: #fd0;

                                &::before {
                                    border-bottom: 2px solid black;
                                    border-right: 2px solid black;
                                }
                            }
                        }

                        &.active {
                            background: govuk-colour("white");
                            color: #1d70b8;
                            border-color: govuk-colour("white");

                            &::after {
                                background: #1d70b8;
                            }

                            .gem-c-layout-super-navigation-header__navigation-top-toggle-button-inner {
                                border-color: govuk-colour("white");

                                &::before {
                                    transform: translateY(30%) rotate(225deg) scale(1);
                                    border-bottom: 2px solid #1d70b8;
                                    border-right: 2px solid #1d70b8;
                                }
                            }
                        }

                        &::after {
                            background: none;
                            content: "";
                            height: 3px;
                            left: 20px;
                            position: absolute;
                            right: 20px;
                            bottom: 0;
                            top: auto;
                        }

                        &:hover {
                            color: #b1b4b6;

                            &::after {
                                background: #b1b4b6;
                            }

                            .gem-c-layout-super-navigation-header__navigation-top-toggle-button-inner {
                                &::before {
                                    border-bottom: 2px solid #b1b4b6;
                                    border-right: 2px solid #b1b4b6;
                                }
                            }

                            &.active {
                                background: govuk-colour("white");
                                color: #1d70b8;

                                &::after {
                                    background: #1d70b8;
                                }

                                .gem-c-layout-super-navigation-header__navigation-top-toggle-button-inner {
                                    border-color: govuk-colour("white");

                                    &::before {
                                        transform: translateY(30%) rotate(225deg) scale(1);
                                        border-bottom: 2px solid #1d70b8;
                                        border-right: 2px solid #1d70b8;
                                    }
                                }
                            }
                        }
                    }

                    .gem-c-layout-super-navigation-header__navigation-top-toggle-button-inner {
                        display: flex;
                        align-items: center;
                        border-left: 1px solid #fff;
                        border-right: 1px solid #fff;
                        border-color: #7c8185;
                        padding: 5px 20px;

                        &::before {
                            transform: translateY(-30%) rotate(45deg) scale(1);
                            border-bottom: 2px solid white;
                            border-right: 2px solid white;
                            content: "";
                            display: inline-block;
                            height: 8px;
                            margin: 0 10px 0 -2px;
                            vertical-align: middle;
                            width: 8px;
                        }
                    }

                    .gem-c-layout-super-navigation-header__search-toggle-button {
                        border: none;
                        border-left: none;
                        position: relative;
                        background: none;
                        color: #fff;
                        height: 50px;
                        padding: 15px;
                        cursor: pointer;

                        &:focus-visible {
                            background: #fd0;
                            color: govuk-colour("black");
                            box-shadow: none;
                            border: none;
                            text-decoration: none;
                            outline: none;

                            &.active {
                                background: #fd0;
                                color: govuk-colour("black");
                            }
                        }

                        &:hover {
                            border-bottom: 3px solid #b1b4b6;
                            color: #b1b4b6;

                            &.active {
                                border-color: #fff;
                            }
                        }

                        .gem-c-layout-super-navigation-header__search-toggle-button-link-icon {
                            width: 21px;
                            height: 20px;
                        }

                        .gem-c-layout-super-navigation-header__navigation-top-toggle-close-icon {
                            display: none;
                            font-size: 36px;
                            font-weight: normal;
                            left: 0;
                            line-height: 22px;
                            pointer-events: none;
                            right: 0;
                            text-align: center;
                        }

                        &.active {
                            background: govuk-colour("white");
                            color: govuk-colour("black");

                            .gem-c-layout-super-navigation-header__search-toggle-button-link-icon {
                                display: none;
                            }

                            .gem-c-layout-super-navigation-header__navigation-top-toggle-close-icon {
                                display: block;
                            }
                        }
                    }

                    .gem-c-layout-super-navigation-header__search-item-link {
                        border: none;
                        border-left: none;
                        position: relative;
                        display: flex;
                        align-items: center;
                        background: none;
                        color: #fff;
                        height: 50px;
                        cursor: pointer;

                        .gem-c-layout-super-navigation-header__search-item-link-icon {
                            height: 20px;
                            pointer-events: none;
                            width: 21px;
                        }

                        &:focus-visible {
                            background: #fd0;
                            color: govuk-colour("black");
                            box-shadow: none;
                            border: none;
                            text-decoration: none;
                            outline: none;
                        }
                    }
                }
            }
        }
    }
}

.gem-c-layout-for-public__blue-bar {
    background: #1d70b8;
    height: 10px;
}

.gem-c-layout-super-navigation-header__navigation-dropdown-menu {
    background: govuk-colour("light-grey");
    border-bottom: 1px govuk-colour("mid-grey") solid;
    padding-top: 50px;
    font-family: "GDS Transport", arial, sans-serif;

    .gem-c-layout-super-navigation-header__column-header {
        font-size: 24px;
    }

    .gem-c-layout-super-navigation-header__navigation-second-items--services-and-information {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .gem-c-layout-super-navigation-header__navigation-second-items {
        padding: 0px;
        list-style: none;

        .gem-c-layout-super-navigation-header__navigation-second-item-link {
            font-weight: bold;
            font-family: "GDS Transport", arial, sans-serif;
            text-decoration: underline;
            text-decoration-thickness: max(1px, 0.0625rem);
            text-underline-offset: 0.1578em;
        }

        .gem-c-layout-super-navigation-header__dropdown-list-item {
            padding-bottom: 15px;
        }

        .gem-c-layout-super-navigation-header__navigation-second-item-description {
            margin: 0px;
        }
    }
}

.gem-c-layout-super-navigation-header__navigation-dropdown-menu {
    .gem-c-layout-super-navigation-header__search-container {
        margin-bottom: 50px;

        .govuk-list {
            line-height: 1.3157894737;
            font-size: 1rem;

            li {
                padding: 5px;
            }
        }

        .gem-c-layout-super-navigation-header__search-form {
            margin-bottom: 50px;

            .gem-c-search__item-wrapper {
                display: flex;
                width: 100%;
                height: 50px;
                background: #fff;

                .gem-c-search__item {
                    position: relative;
                    vertical-align: top;
                }

                .gem-c-search__input {
                    flex: 1;
                    border-right-width: 0;
                    z-index: 2;
                    padding: 6px;
                    border: 2px solid #0b0c0c;

                    &:focus {
                        z-index: 2;
                        outline: 3px solid #fd0;
                        box-shadow: inset 0 0 0 4px #0b0c0c;
                        border-right-width: 2px;
                    }
                }

                .gem-c-search__submit {
                    width: 50px;
                    height: 50px;
                    background-color: #1d70b8;
                    color: #fff;
                    cursor: pointer;
                    outline: none;
                    padding: 15px;
                    border: none;

                    &:focus {
                        z-index: 2;
                        outline: 3px solid #fd0;
                        box-shadow: inset 0 0 0 4px #0b0c0c;
                    }

                    &:hover {
                        background-color: #207dce;
                    }

                    .gem-c-search__icon {
                        display: block;
                        pointer-events: none;
                        position: absolute;
                        height: 20px;
                        width: 20px;
                        top: 15px;
                        left: 15px;
                    }
                }

                .gem-c-search--large .gem-c-search__input[type="search"] {
                    height: 50px;
                    border-right-width: 0;
                    border: 2px solid #0b0c0c;
                }
            }
        }
    }
}
